HTTP_PORT=8153
SERVICE_ID=128
CFG_PATH=core:config:10.0.2.212:5432:postgres:postgres
CFG_METHOD=psql

TEMPLATES_PATH=./templates
TAGS_FILEPATH=./templates/tags.json

DATABASE_URL=postgres://user:pass@db:5432/backend-db